<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="testing_combobox.My.MySettings.salco_partsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Salvatore Colaiuda\OneDrive\Documents\SALCO\Visual Studio\AccessDB\salco_parts.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="testing_combobox.My.MySettings.salco_partsConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\salco_parts.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>